<div class="row btn-add-new-my">
  <div
    class="btn-group "
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <div class="btn-group" role="group">
      <button
        id="btnGroupDrop1"
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Добавить
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a
          class="dropdown-item"
          data-toggle="modal"
          data-target="#exampleModal-3"
        >Бренд</a
        >
        <hr />
        <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal"
        >Товар</a
        >
        <hr />
        <a
          class="dropdown-item"
          data-toggle="modal"
          data-target="#exampleModal-2"
        >Категорию</a
        >
      </div>
    </div>
  </div>
</div>





