
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title" style="color: white" id="exampleModalScrollableTitle">Добавить новый расход</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form
          [formGroup]="formExpense">

        <div class="form-group">
        <label for="state">Выберите статью расхода</label>
        <select
          id="state"
          class="custom-select"
          formControlName="stateExpense"
        >
          <option selected disabled>Выберите статью расхода</option>
          <option
            *ngFor="let state of stateExpense"
            value="{{state._id}}">
            {{state.name}}
          </option>
        </select>
        </div>

        <div class="form-group">
        <label for="calc">Нал/Безнал</label>
        <select
          id="calc"
          class="custom-select"
          formControlName="cancellation"

        >
          <option disabled selected>с кассы или безналично</option>
          <option value="Наличными">Наличными</option>
          <option value="Безналично">Безналично</option>
        </select>
        </div>

        <div class="form-group">
          <label for="sum">Сумма </label>
          <input
            id="sum"
            type="number"
            min="1"
            [defaultValue]="1"
            class="form-control"
            formControlName="value"
          >
        </div>

        <div class="form-group">
          <label for="description">Описание</label>
          <input
            id="description"
            type="text"
            class="form-control"
            placeholder="Введите описание расхода"
            formControlName="description">
        </div>

        </form>


      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button
          [disabled]="formExpense.invalid || formExpense.disabled"
          type="button"
          class="btn btn-primary"
          (click)="addNewExpense()">Добавить</button>
      </div>
    </div>
  </div>
</div>
