<div class="page-header">
  <h2 class="pageheader-title">Настройки</h2>
  <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit ametsefwe vestibulum mi. Morbi lobortis pulvinar quam.</p>
  <div class="page-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active " aria-current="page">Настройки</li>
      </ol>
    </nav>
  </div>
</div>


<a routerLink="users" type="button" class="btn btn-primary btn-lg btn-block">Пользователи</a>
<a routerLink="professions" type="button" class="btn btn-dark btn-lg btn-block">Должности</a>
<a routerLink="warehouse" type="button" class="btn btn-warning btn-lg btn-block">Склады</a>
<a routerLink="supplier" type="button" class="btn btn-success btn-lg btn-block">Поставщики</a>
