
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-white">
        <h2 class="modal-title" style="color: black" id="exampleModalScrollableTitle">Добавить товар в закупку</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group" [formGroup]="clientForm">
            <label for="inputText3" class="col-form-label">Имя</label>
            <input id="inputText3" type="text" class="form-control" formControlName="name">

            <label for="inputText4" class="col-form-label">Фамилия</label>
            <input id="inputText4" type="text" class="form-control" formControlName="surname">

            <label for="inputText1" class="col-form-label">Телефон</label>
            <input id="inputText1" type="text" class="form-control" formControlName="phone">

            <label for="inputText2" class="col-form-label">Скидка</label>
            <input  id="inputText2" type="number" value="0" class="form-control" formControlName="discount">
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addNewClient()"
        >Добавить</button>
      </div>
    </div>
  </div>
</div>
