<div class="page-header">
  <h2 class="pageheader-title">Статьи</h2>
  <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit ametsefwe vestibulum mi. Morbi lobortis pulvinar quam.</p>
  <div class="page-breadcrumb">
    <div class="row btn-add-new-my">
      <div class="btn-group " role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Добавить статью
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal-2">Расхода</a>
            <hr>
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Прихода</a>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/finance">Финансы</a></li>
        <li class="breadcrumb-item active " aria-current="page">Статьи</li>
      </ol>
    </nav>
  </div>
</div>

<app-loader *ngIf="loading"></app-loader>



<div class="row" *ngIf="!loading">
  <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card mb-5 shadow-sm">
      <h3 class="card-header bg-warning">Статьи рахода</h3>
      <div class="card-body">
        <div class="list-group">

          <a
            class="list-group-item list-group-item-action"
            *ngFor="let stateExp of expensesState"
          >
            {{stateExp.name}}
            <span id="expense"
                  (click)="removeState($event, stateExp)"
                  class="hover-class"
                  style="float: right">
              Х
            </span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card mb-5 shadow-sm">
      <h3 class="card-header bg-success">Статьи прихода</h3>
      <div class="card-body">
        <div class="list-group">
          <a
            class="list-group-item list-group-item-action"
            *ngFor="let stateInc of incomesState"
          > {{stateInc.name}}
            <span id="income"
                  (click)="removeState($event, stateInc)"
                  class="hover-class"
                  style="float: right">
              Х
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<app-state-expenses-form (addNewExpenses)="addNewExpenses($event)"></app-state-expenses-form>
<app-state-income-form (addNewIncome)="addNewIncome($event)"></app-state-income-form>

