<div class=" influence-finder">
      <div class="container-fluid dashboard-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h2 class="mb-2">Поставщики</h2>
              <button data-toggle="modal" data-target="#exampleModalScrollable"  aria-labelledby="btnGroupDrop1"  style="float: right" class="btn btn-info">Добавить поставщика</button>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/setting" class="breadcrumb-link">Настройки</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Список поставщиков</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card mb-5 shadow-sm">
              <div class="card-body">
                <form>
                  <input class="form-control form-control-lg" type="search" placeholder="Поиск..." aria-label="Search">
                  <button class="btn btn-primary search-btn btn-lg  mt-n8 float-right rounded-left-0 " type="submit">Поиск</button>
                </form>
              </div>
            </div>
          </div>
          <div  class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
            <div *ngFor="let supplier of suppliers" class="card mb-5 shadow-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="media influencer-profile-data">
                      <div class="mr-4">
                        <img style="width: 90px; height: 90px" src="../assets/images/no-name.png" alt="User Avatar" class="rounded-circle user-avatar-xl">
                      </div>
                      <div class="media-body">
                        <div class="m-b-20">
                          <div class="user-avatar-name">
                            <h2 class="font-24"><a [routerLink]="[supplier._id]">{{supplier.name}} {{supplier.surname}}</a></h2></div>
                          <div class="rating-star d-inline-block font-12 text-warning">
                            <p class="d-inline-block text-dark">4 Заметки </p>
                          </div>
                        </div>
                        <div class="user-avatar-address">
                          <p class="mb-2"><i class="fa fa-map-marker-alt mr-2 text-primary"></i>{{supplier.postTown}}
                            <br> <span class="m-l-10">{{supplier.contact}}<br> <span class="m-l-20">{{supplier.contactTwo}}</span></span>
                          </p>
                          <div class="mt-3">
                            <a *ngFor="let brandSup of supplier.brands" href="#" class="mr-1 badge badge-light">{{brandSup.brandName}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="float-right">
                      <a href="#" class="btn-wishlist icon-shape icon-lg bg-light rounded-circle m-r-10"><i class="far fa-star"></i></a>
                      <a href="#" class="btn btn-secondary">Send Messages</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-social-box ">
                <ul class="list-group list-group-horizontal-xl text-center">
                  <li class="list-group-item px-9 rounded-0 border-left-0">
                    <span class="mr-2 text-twitter">

                    </span>
                    <span> {{supplier.amount}} Грн.</span>
                  </li>
                  <li class="list-group-item px-9"><span class="mr-2  text-pinterest"> <i class="fab fa-pinterest-square"></i></span><span>84,019</span></li>
                  <li class="list-group-item px-9"><span class="mr-2 text-instagram"> <i class="fab fa-instagram"></i></span><span>12,300</span></li>
                  <li class="list-group-item px-9"><span class="mr-2  text-facebook"> <i class="fab fa-facebook-square "></i></span><span>92,920</span></li>
                  <li class="list-group-item px-9"><span class="mr-2 text-dark"> <i class="fab fa-medium"></i></span><span>291</span></li>
                  <li class="list-group-item px-9 rounded-0 border-right-0"><span class="mr-2 text-youtube"> <i class="fab fa-youtube"></i></span><span>1291</span></li>
                </ul>
              </div>
            </div>





          </div>


          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card mb-5 shadow-sm">
              <div class="card-body">
                <h3 class="font-16">Sorting By</h3>
                <select class="form-control">
                  <option>Followers</option>
                  <option>Followers</option>
                </select>
              </div>
              <div class="card-body border-top">
                <h3 class="font-16">Influncer by Rating</h3>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label text-warning" for="customRadio1"><i class="fas fa-star rating-color fa-xs"></i></label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label text-warning" for="customRadio2"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label text-warning" for="customRadio3"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label text-warning" for="customRadio4"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label text-warning" for="customRadio5"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i></label>
                </div>
              </div>
              <div class="card-body border-top">
                <h3 class="font-16">Social Media Platform</h3>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck10">
                  <label class="custom-control-label" for="customCheck10">Facebook</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck11">
                  <label class="custom-control-label" for="customCheck11">Instagram</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck12">
                  <label class="custom-control-label" for="customCheck12">Pinterest</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck13">
                  <label class="custom-control-label" for="customCheck13">Twitter</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck14">
                  <label class="custom-control-label" for="customCheck14">Youtube</label>
                </div>
              </div>
              <div class="card-body border-top">
                <h3 class="font-16">Influncer Category</h3>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck15">
                  <label class="custom-control-label" for="customCheck15">Business</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck16">
                  <label class="custom-control-label" for="customCheck16">Lifestyle</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck17">
                  <label class="custom-control-label" for="customCheck17">Fitness</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck18">
                  <label class="custom-control-label" for="customCheck18">Sports</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck19">
                  <label class="custom-control-label" for="customCheck19">Clothing</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck20">
                  <label class="custom-control-label" for="customCheck20">Pets & Animals</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck21">
                  <label class="custom-control-label" for="customCheck21">Beauty & Makeup</label>
                </div>
              </div>
              <div class="card-body border-top">
                <h3 class="font-16">Age Demographics</h3>
                <select class="form-control">
                  <option selected>Select the Age</option>
                  <option value="20-30">20-30</option>
                  <option value="30-40">30-40</option>
                  <option value="40-50">40-50</option>
                </select>
              </div>
              <div class="card-body border-top">
                <a href="#" class="btn btn-secondary btn-lg btn-block">Submit</a>
              </div>
            </div>
          </div></div>

      </div>

    </div>



<app-supplier-form
  (addNewSupplier)="addSupplier($event)">
</app-supplier-form>
