<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="mb-2">Остатки товара на складах</h2>
      <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" class="breadcrumb-link">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Остатки товара на складах</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div   class="row" style="margin-top: -2%">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4 my-vidjet">
    <div class="card border-top-primary shadow-sm h-100">
      <div class="card-body">
        <h5 class="text-muted mb-4">Выберите склад</h5>
        <div class="d-flex justify-content-between">
          <div class="metric-value">
            <select (change)="changeWarehouse($event)">
              <option selected value="all">Все склады</option>
              <option *ngFor="let warehouse of warehousesRef" value="{{warehouse._id}}">{{warehouse.name}}</option>

            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4 my-vidjet">
    <div class="card border-top-primary shadow-sm h-100">
      <div class="card-body">
        <h5 class="text-muted mb-4">Поиск по наименованию</h5>
        <div class="d-flex justify-content-between">
          <div class="metric-value">
            <h3 class="font-weight-bold"><input [(ngModel)]="searchProductOfBalance" placeholder="Поиск..." style="width: 80%" type="search"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4 my-vidjet">
    <div class="card border-top-primary shadow-sm h-100">
      <div class="card-body">
        <h5 class="text-muted mb-4">Выберите категорию</h5>
        <div class="d-flex justify-content-between">
          <div class="metric-value">
            <select (change)="changeCategory($event)">
              <option selected value="all">Все товары</option>
              <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4 my-vidjet">
    <div class="card border-top-primary shadow-sm h-100">
      <div class="card-body">
        <h5 class="text-muted mb-4">Total Orders</h5>
        <div class="d-flex justify-content-between">
          <div class="metric-value">
            <h5 class="font-weight-bold">1340</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" style="margin-top: -0.3%">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-header" style="background-color: sandybrown">
        <h5  class="mb-0 my-class">{{warehouseChange}} </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-loader *ngIf="loading"></app-loader>
          <table  *ngIf="!loading" id="example" class="table table-striped table-bordered second" style="width:100%; margin-top: -0.5%">
            <thead>
            <tr>
              <th>Имя</th>
              <th *ngFor="let warehouse of warehouses">{{warehouse.name}}</th>
              <th>Розница</th>
              <th>Закупка</th>

            </tr>
            </thead>

            <tbody *ngIf="allAndOne">
            <tr *ngFor="let balance of balances | balanceFilter: searchProductOfBalance: 'name'">
              <td>{{balance.products.name}}</td>
              <td *ngFor="let leftover of balance.leftovers">{{leftover.balance}} </td>
              <td>{{balance.products.salePrice.toFixed(1)}} грн.</td>
              <td>{{balance.products.purchasePrice.toFixed(1)}} грн.</td>
            </tr>
            </tbody>

            <tbody *ngIf="!allAndOne">
            <tr *ngFor="let balance of balances | balanceFilter: searchProductOfBalance: 'name'">
              <td>{{balance.productId.name}}</td>
              <td>{{balance.leftovers.balance}} </td>
              <td>{{balance.productId.salePrice.toFixed(1)}} грн.</td>
              <td>{{balance.productId.purchasePrice.toFixed(1)}} грн.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




